<!DOCTYPE html>
<html lang="en">
<head itemscope itemtype="http://schema.org/WebSite">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title itemprop="name">Preview bootstrap html snippet. Table user information</title>
    <meta name="description" itemprop="description"
          content="Preview bootstrap html snippet. Table user information. Copy and paste the html, css and js code for save time, build your app faster and responsive">
    <meta name="keywords"
          content="html, css, javascript, themes, templates, code snippets, ui examples, react js, react-native, plagraounds, cards, front-end, profile, invoice, back-end, web-designers, web-developers">
    <link itemprop="sameAs" href="https://www.facebook.com/bootdey">
    <link itemprop="sameAs" href="https://twitter.com/bootdey">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" type="image/x-icon" href="/img/bootdey_favicon.ico">
    <link rel="apple-touch-icon" sizes="135x140" href="/img/bootdey_135x140.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/bootdey_76x76.png">
    <link rel="canonical" href="https://bootdey.com/snippets/view/Table-user-information" itemprop="url">
    <meta property="twitter:account_id" content="2433978487"/>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@bootdey">
    <meta name="twitter:creator" content="@bootdey">
    <meta name="twitter:title" content="Preview bootstrap html snippet. Table user information">
    <meta name="twitter:description"
          content="Preview bootstrap html snippet. Table user information. Copy and paste the html, css and js code for save time, build your app faster and responsive">
    <meta name="twitter:image" content="https://bootdey.com/files/SnippetsImages/bootstrap-snippets-187.png">
    <meta name="twitter:url" content="https://bootdey.com/snippets/preview/Table-user-information">
    <meta property="og:title" content="Preview bootstrap html snippet. Table user information">
    <meta property="og:url" content="https://bootdey.com/snippets/preview/Table-user-information">
    <meta property="og:image" content="https://bootdey.com/files/SnippetsImages/bootstrap-snippets-187.png">
    <meta property="og:description"
          content="Preview bootstrap html snippet. Table user information. Copy and paste the html, css and js code for save time, build your app faster and responsive">
    <meta name="msvalidate.01" content="23285BE3183727A550D31CAE95A790AB"/>
    <script src="/cache-js/cache-1635427806-97135bbb13d92c11d6b2a92f6a36685a.js" type="text/javascript"></script>
</head>
<body>
<div id="snippetContent">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <div class="container bootstrap snippets bootdey">
        <div class="panel-body inf-content">
            <div class="row">
                <div class="col-md-4"><img alt style="width:600px;" title class="img-circle img-thumbnail isTooltip"
                                           src="{{ profile.image.url }}"
                                           data-original-title="Usuario">
                    <ul title="Ratings" class="list-inline ratings text-center">
                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                    </ul>
                </div>
                <div class="col-md-6"><strong>Information</strong><br>
                    <div class="table-responsive">
                        <table class="table table-user-information">
                            <tbody>
                            <tr>
                                <td><strong> <span class="glyphicon glyphicon-user  text-primary"></span> Name </strong>
                                </td>
                                <td class="text-primary"> {{ profile.name }}</td>
                            </tr>
                            <tr>
                                <td><strong> <span class="glyphicon glyphicon-cloud text-primary"></span> Lastname
                                </strong></td>
                                <td class="text-primary"> {{ profile.last_name }}</td>
                            </tr>
                            <tr>
                                <td><strong> <span class="glyphicon glyphicon-bookmark text-primary"></span> Username
                                </strong></td>
                                <td class="text-primary"> {{ profile.username }}</td>
                            </tr>
                            <tr>
                                <td><strong> <span class="glyphicon glyphicon-asterisk text-primary"></span> Balance
                                </strong></td>
                                <td class="text-primary"> {{ profile.balane }}</td>
                            </tr>
                            <tr>
                                <td><strong> <span class="glyphicon glyphicon-asterisk text-primary"></span> Amounts
                                </strong></td>
                                <td class="text-primary"> {{ profile.amounts }}</td>
                            </tr>
                            <tr>
                                <td><strong> <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                    Transaction </strong></td>
                                <td class="text-primary"> {{ profile.transaction }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style type="text/css">.inf-content {
        border: 1px solid #DDDDDD;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
    }</style>
    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script type="text/javascript"></script>
</div>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-F1RTS0P1CD"></script>
<script>window.dataLayer = window.dataLayer || [];

function gtag() {
    dataLayer.push(arguments);
}

gtag('js', new Date());

gtag('config', 'G-F1RTS0P1CD');</script>
</body>
</html>